<!-- views/index.ejs -->

<%- include('partials/header') %>

<div class="jumbotron">
    <h1 class="display-4">Welcome, <%= user.username %>!</h1>
    <p class="lead">Choose a quiz to start.</p>
</div>

<div class="row">
    <% for (let i = 0; i < quizzes.length; i++) { %>
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title"><%= quizzes[i].topic %></h5>
                    <a href="/quiz/<%= quizzes[i]._id %>" class="btn btn-primary">Take Quiz</a>
                </div>
            </div>
        </div>
    <% } %>
</div>

<a href="/logout" class="btn btn-danger">Logout</a>
