<!-- views/login.ejs -->

<%- include('partials/header') %>

<div class="jumbotron">
    <h1 class="display-4">Choose Login Type</h1>
    <p class="lead">Select if you are an admin or a user.</p>
</div>

<a href="/admin/login" class="btn btn-primary">Admin Login</a>
<a href="/user/login" class="btn btn-success">User Login</a>
